.menu-bar {
    -fx-background-color: lightblue ;
	-fx-pref-height:20px;

}

#titulo{
		-fx-text-fill:blue;
	    -fx-background-color: lightgreen ;
	    
}

.menu-bar .label {
    -fx-font-size: 12 pt;
    -fx-text-fill: green;
    -fx-font-weight: bold; 
    -fx-padding: 3px;

}

