.menu-bar {
    -fx-background-color: lightblue ;
	-fx-pref-height:20px;

}

#titulo{
		-fx-text-fill:blue;
	    -fx-background-color: lightgreen ;
	    
}

.menu-bar .label {
    -fx-font-size: 12 pt;
    -fx-background-color:yellow;
    -fx-text-fill: green;
    -fx-padding: 3px;
    -fx-effect: dropshadow(three-pass-box, #000000, 10.0, 0, 0, 0);
 
    
   
}



