
/* Degradado en el fondo del pie de página */
#pie{
	-fx-background-color: linear-gradient(from 25% 25%  to 100% 100%, #FFF333, #3383FF ,#FF333C );
}



.button{
    -fx-text-fill:#8024C4;
    -fx-background-color:#24C4AC;
    -fx-font-size: 20px;
    -fx-border-color:red;
    -fx-border-radius: 8;
    -fx-padding: 3 6 6 6;
}




.slider{
	-fx-border-color: white;
    -fx-border-style: dashed;
    -fx-border-width: 4;
}
 
 

#text{
 -fx-text-fill:red;
     -fx-background-color:#24C4AC;
 
	
}
