
.root{
    -fx-font-size: 20px;
    -fx-font-family: "Tahoma";
    -fx-background: salmon;
}

/* Degradado en el fondo del pie de página */
#pie{
	-fx-background-color: linear-gradient(from 25% 25%  to 100% 100%, #FFF333, #3383FF ,#FF333C );
}



.button{
    -fx-text-fill:blue;
    -fx-font-size: 20px;
    -fx-border-color:#C6AF1D;
    -fx-border-radius: 40;
    -fx-padding: 3 6 6 6;
}


#GridPane{
	-fx-border-insets: 10,20;
	-fx-border-width: 1;
	-fx-border-color: red, green;
	-fx-border-radius: 10, 0;
	-fx-background-color: blue;
	-fx-background-insets: 10;
	-fx-background-radius: 20, 0;
}


/* Cuando nos posicionamos en el botton de la sección inferior SEUDOCLASE */
#inferior .button:hover{
	-fx-opacity: 0.5;
		-fx-background-color: white;
	
	
}

