.button{
    -fx-text-fill:blue;
    -fx-font-size: 20px;
    -fx-background-color:lightgreen;
    -fx-border-color:orange;
    -fx-border-radius: 8;
    -fx-padding: 3 6 6 6;
}


#GridPane{
	-fx-border-insets: 20,15;
	-fx-border-width: 5;
	-fx-border-color: red, green;
	-fx-border-radius: 10, 0;
	-fx-background-color: blue;
	-fx-background-insets: 10;
	-fx-background-radius: 20, 0;
}



.check-box:selected{
	-fx-text-fill: #2480C4;
	-fx-background-color: #24C42E;	
}

.radio-button:selected{
	-fx-underline: true;
}

